html{
    background-color: black;
}

body{
    max-width: 800px;
    background-color: white;
    margin: auto;
}

.box{
background-color: yellow;
margin: 1em;
border: 2px solid black;
font-size: 2em;
text-align: center;
height: 100px;
width: 195px;
float: left;
}

p{
    clear: left;
}