body {
    width: 80%;
    margin: auto;
}
nav ul {
    list-style-type: none;
    font-weight: bold;
}
a:link {
    text-decoration: none;
    font-size: 30px;
  }

.blogElem {
    margin: 15px;
    display: inline-block;
}

#name, #postTitle{
    font-weight: bold;
    color: darkblue;
}
#postTitle {
    font-size: 15px;
    color: darkblue;
}
#body {
    margin: auto;
    text-align: center;
}
#postElem {
    width: 250px;

}
#showCommentsBtn {
    float: right;
}
#comment {
    font-size: 10px;
    color: gray;
    text-align: left;
}
#commentName {
    font-size: 10px;
    color: blue;
    text-align: right;
}